

html{
    background-image: url("https://pbs.twimg.com/media/EAL0HgBXUAcvuYe?format=jpg&name=medium");
    background-size: 100%
}

h1 {
  font-style: italic;
  color: #373fff;
}
img {
  width: 40px;
  float: center;
  background-color: #000080 
}
p {
  color: #000080  
}
#blue {
  color: white;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: block;
  border-bottom: none
}
#red {
  color: white;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: left; /* Float the buttons side by side */
  display: block;
}
#green {
  color: white;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  float: left;
  display: block;
}
#black {
  color: white;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  float: left; 
}
#blue:hover {
  background-color: #5f9ea0;
  color: white;
}
#red:hover {
  background-color: #5f9ea0;
  color: white;
}
#green:hover {
  background-color: #5f9ea0;
  color: white;
}
#black:hover {
  background-color: #5f9ea0;
  color: white;
}


