

body {
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em;
  background-image: url("Techer.png");
  background-position: center;
  background-size: cover;
}

h1 {
  font-style: italic;
  color: #373fff;
}

img {
  width: 40px;
  float: center;
  background-color: 
}
p {
  color: #000080	
}
#blue {
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: block;
  border-bottom: none
}
#red {
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: left; /* Float the buttons side by side */
  display: block;
}
#green {
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: left; /* Float the buttons side by side */
  display: block;
}
#black {
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: left; /* Float the buttons side by side */
  display: block;
}
#blue:hover {
  background-color: #5f9ea0;
  color: white;
}
#red:hover {
  background-color: #5f9ea0;
  color: white;
}
#green:hover {
  background-color: #5f9ea0;
  color: white;
}
#black:hover {
  background-color: #5f9ea0;
  color: white;
}
h1 {
  font-style: italic;
  color: #373fff;
}
img {
  width: 40px;
  float: center;
  background-color: #000080 
}
p {
  color: #000080  
}
body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

img {
	width:100%;
}

